.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
    padding: 20px;
}

.hero {
    max-width: 200px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.description {
    max-width: 24ch;
    font-size: 16px;
    line-height: 1.5;
}

span {
    display: flex;
    gap: 25px;
    justify-content: center;
}

a img {
    width: 30px;
}

button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.colorModeContainer {
    position: relative;
}

.colorMode {
    position: absolute;
    right: 0;
    width: 25px;
}

.colorMode:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        gap: 15px;
        padding: 10px;
    }

    .hero {
        max-width: 150px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    .description {
        font-size: 14px;
        max-width: 100%;
    }

    button {
        width: 110px;
        height: 40px;
        font-size: 16px;
    }
}
